@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import "~bulma/bulma";
// @import "../node_modules/bulma/bulma.sass";

.App {
  text-align: center;
  background-image: url("https://cdn.pixabay.com/photo/2016/02/18/22/25/sillhouette-1208271_960_720.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
  }
}
